.container-fluid {

	margin-right: auto;
	margin-left: auto;
	max-width: 950px;
	padding: 2rem;

}

input[type=email]:valid,
input[type=tel]:valid,
input[type=url]:valid {
	background: green;
}

input[type=email]:invalid,
input[type=tel]:invalid,
input[type=url]:invalid {
	background: red;
}



